body {
  color: white;
  background-color: #210f26;
  font-family: 'JetBrains Mono', sans-serif;
}

main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

main > img, nav {
	padding: 30px;
}

nav {
  grid-template-columns: repeat(3, auto);
  display: grid;
  gap: 30px;
}

img.icon {
  background-color: #86728c;
  padding: 25px;
  border-radius: 5px;
	width: 60px;
	height: 60px;
}

img.icon:hover {
	background-color: #50434f;
}

img.logo {
  width: 200px;
  height: 200px;
}
